@font-face {
    font-family: 'Neue Haas Grotesk ';
    src: local('Neue Haas Grotesk  Light Italic'), local('Neue-Haas-Grotesk--Light-Italic'),
        url('NeueHaasDisplay-LightItalic.woff2') format('woff2'),
        url('NeueHaasDisplay-LightItalic.woff') format('woff'),
        url('NeueHaasDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Adria-Slab';
    src:url('Adria-Slab.otf') format('otf'),
    font-weight: 300;
    font-style: italic;
  }