@font-face {
  font-family: 'AcherusGrotesque-Regular';
  src: url('AcherusGrotesque-Regular.eot');
  src: url('AcherusGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
       url('AcherusGrotesque-Regular.svg#AcherusGrotesque-Regular') format('svg'),
       url('AcherusGrotesque-Regular.ttf') format('truetype'),
       url('AcherusGrotesque-Regular.woff') format('woff'),
       url('AcherusGrotesque-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

